.sales-banner {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  padding: 20px;
  margin: 0 5rem;
  background: var(--grey);
}
.sales-banner .salesImg img {
  width: 200px;
  height: 200px;
}
.sales-text h2,
p,
button {
  margin: 10px 0;
}
.sales-text button {
  float: right;
  border: none;
  padding: 5px 15px;
  background: var(--secondary-grey);
  color: #fff;
  margin-right: 3rem;
}
